.page {
  composes: flex_container from "./base.module.css";
  --direction: column;
  --content: flex-start;
  --gap: 3rem;
  padding-block: 2rem;
}

.products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
}
