.page {
  composes: flex_container from "./base.module.css";
  --direction: column;
  --content: flex-start;
  --gap: 3rem;
  padding-block: 2rem;
}

.products {
  display: grid;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  width: 100%;
}
