.container {
  composes: flex_container from "@/styles/base.module.css";
  --direction: column;
  --gap: 0;

  height: 50vh;
}

.container h1 {
  margin: 0;
  padding: 0;

  font-size: 8rem;
}

.container h2 {
  margin: 0;
  padding: 0;
}
