.container {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product_info p {
  color: #606060;
  font-size: 14px;
}

ul li {
  margin-bottom: 0.5rem;
}

.image {
  height: calc(100dvh - 10rem);
  min-width: 22rem;
  width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.button {
  margin-top: 0.5rem;
  width: 10rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image {
    height: 20rem;
  }

  .button {
    width: 100%;
  }
}
