.container {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.product_info p {
  color: #606060;
  font-size: 14px;
}

ul li {
  margin-bottom: 0.5rem;
}

.product_info h1 {
  margin: 0;
}

.image {
  position: relative;
  width: 100%;
  height: calc(100dvh - 10rem);
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
  border-radius: 2rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.button {
  margin-top: 0.5rem;
  width: 10rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image,
  .image img {
    max-height: 15rem;
  }

  .button {
    width: 100%;
  }
}
