.button {
  --color: white;

  composes: flex_container from "@/styles/base.module.css";

  border: none;
  padding: var(--padding, 0.5rem);
  color: var(--c, #000000);
  font-weight: 600;
  border-radius: var(--radius, 2rem);
  background-color: var(--color);
  cursor: pointer;
}

.button:hover {
  background-color: color-mix(in srgb, var(--color), black 10%);
}

.button:active {
  transform: scale(0.95);
}
