.card {
  composes: flex_container from "@/styles/base.module.css";
  --items: flex-start;
  --gap: 0;
  border-radius: 2rem;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.subtitle {
  color: #606060;
}

.card h2 {
  margin: 0;
}

.card_image {
  position: relative;
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem;
}

.card_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  display: block;
}

.price {
  background-color: white;
  border-radius: 2rem;
  padding-block: 0.625rem;
  padding-inline: 1rem;
  font-weight: 500;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-inline: 0.6rem;
  display: flex;
  justify-content: space-between;
}
