.container {
  composes: flex_container from "@/styles/base.module.css";
  --content: flex-start;
  --direction: row;

  border: 1px solid #bbbbbb;
  border-radius: 8px;
  padding-inline: 1rem;
  padding-block: 8px;
  width: 100%;
  max-width: 45rem;
  background-color: white;
  cursor: text;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  border: none;
}

.input:focus {
  outline: none;
}
